/* $Id*/
/* Distributed with permission as part of the
   Zapatec Calendar
   Author: Mihai Bazon, www.bazon.net/mishoo
   Copyright Dynarch.com 2005, www.dynarch.com
*/

/* The main calendar widget.  DIV containing a table. */

div.zpCalendarAqua {
  position: relative;
}


.zpCalendarAqua table {
  border: 1px solid #bdb2bf;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: url("aqua/normal-bg.gif");
  font-family: "trebuchet ms",verdana,tahoma,sans-serif;
}


.zpCalendarAqua {
  border: 1px solid #bdb2bf;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: url("aqua/normal-bg.gif");
  font-family: "trebuchet ms",verdana,tahoma,sans-serif;
  z-index: 100;
  border-color: #797979;
}


/* Header part -- contains navigation buttons and day names. */

.zpCalendarAqua .button {
  text-align: center;    /* They are the navigation buttons */
  padding: 2px 2px 3px 2px;          /* Make the buttons seem like they're pressing */
  background: url("aqua/title-bg.gif") repeat-x 0 100%;
  color: #000;
  font-weight: bold;
}

.zpCalendarAqua .nav
 {
  font-family: verdana,tahoma,sans-serif;
}

.zpCalendarAqua  .nav div
{
  background: transparent url("aqua/menuarrow.gif") no-repeat 100% 100%;
}

.zpCalendarAqua thead tr {
  background: url("aqua/title-bg.gif") repeat-x 0 100%;
  color: #000;
}

.zpCalendarAqua thead .title { /* This holds the current "month, year" */
  font-weight: bold;      /* Pressing it will take you to the current date */
  text-align: center;
  padding: 2px;
  background: url("aqua/title-bg.gif") repeat-x 0 100%;
  color: #000;
}

.zpCalendarAqua thead .headrow { /* Row <TR> containing navigation buttons */
}

.zpCalendarAqua thead .name { /* Cells <TD> containing the day names */
  border-bottom: 1px solid #797979;
  padding: 2px;
  text-align: center;
  color: #000;
}

.zpCalendarAqua thead .weekend { /* How a weekend day name shows in header */
  color: #c44;
}

.zpCalendarAqua  thead .hilite { /* How do the buttons in header appear when hover */
  border: 1px solid;
  background: url("aqua/hover-bg.gif");
  border-bottom: 1px solid #797979;
  padding: 2px 2px 0px 0px;
}

.zpCalendarAqua  thead .active { /* Active (pressed) buttons in header */
  background: url("aqua/active-bg.gif");
  border-bottom: 1px solid #797979;
  padding: 3px 1px 0px 0px;
}

    /* * ****** */

.zpCalendarAqua  thead .daynames { /* Row <TR> containing the day names */
  background: url("aqua/dark-bg.gif");
}


/* The body part -- contains all the days in month. */

.zpCalendarAqua  tbody .day { /* Cells <TD> containing month days dates */
  font-family: verdana,tahoma,sans-serif;
  width: 2em;
  color: #000;
  text-align: right;
  padding: 2px 4px 2px 2px;
}

.zpCalendarAqua  tbody .day.otermonth {
  font-size: 80%;
  color: #999;
}

.zpCalendarAqua  tbody .day.othermonth.oweekend {
  color: #f99;
}

.zpCalendarAqua  table .wn {
  padding: 2px 3px 2px 2px;
  border-right: 1px solid #797979;
  background: url("aqua/dark-bg.gif");
}

.zpCalendarAqua  tbody .rowhilite td,
.zpCalendarAqua  tbody .rowhilite td.wn {
  background: url("aqua/rowhover-bg.gif");
}

.zpCalendarAqua tbody td.today {
  font-weight: bold;
}

.zpCalendarAqua  tbody td.hilite { /* Hovered cells <TD> */
  background: url("aqua/hover-bg.gif");
  padding: 1px 3px 1px 1px;
  border: 1px solid #bbb;
}

.zpCalendarAqua  tbody td.active { /* Active (pressed) cells <TD> */
  padding: 2px 2px 0px 2px;
}

.zpCalendarAqua tbody td.weekend { /* Cells showing weekend days */
  color: #c44;
}

.zpCalendarAqua  tbody td.selected { /* Cell showing selected date */
  font-weight: bold;
  border: 1px solid #797979;
  padding: 1px 3px 1px 0px;
  background: url("aqua/active-bg.gif");
  color: #fff;
}


.zpCalendarAqua tbody .disabled {
  color: #999;
}

.zpCalendarAqua tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}


.zpCalendarAqua tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}


/* The footer part -- status bar and "Close" button */

.zpCalendarAqua tfoot .footrow { /* The <TR> in footer (only one right now) */
  text-align: center;
  background: #565;
  color: #fff;
}

.zpCalendarAqua tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  text-align: center;
  padding: 2px;
  background: url("aqua/status-bg.gif") repeat-x 0 0; color: #000;
}

.zpCalendarAqua tfoot .hilite { /* Hover style for buttons in footer */
  background: #afa;
  border: 1px solid #084;
  color: #000;
  padding: 1px;
}

.zpCalendarAqua tfoot .active { /* Active (pressed) style for buttons in footer */
  background: #7c7;
  padding: 2px 0px 0px 2px;
}


/* Combo boxes (menus that display months/years for direct selection) */

.zpCalendarAqua .combo {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 4em;
  cursor: default;
  border: 1px solid;
  font-size:10px;
  background: url("aqua/normal-bg.gif");
  color: #000;
  border-color: #bdbcbc;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
}

.zpCalendarAqua .combo .label,
.zpCalendarAqua .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

.zpCalendarAqua .combo .label-IEfix {
  width: 4em;
}

.zpCalendarAqua .combo .hilite {
  background: url("aqua/hover-bg.gif");
  color: #000;
}

.zpCalendarAqua .combo .active {
  text-align: center;
  padding: 1px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  font-weight: bold;
  background: url("aqua/active-bg.gif");
  color: #fff;
}

.zpCalendarAqua .combo .disabled {
  color: #888;
}

.zpCalendarAqua .history {
  width: 18em;
}

.zpCalendarAqua .history .label {
  text-align: center;
}

.zpCalendarAqua .history .label-IEfix {
  width: 18em;
}

.zpCalendarAqua td.time {
  border-top: 1px solid #797979;
  padding: 1px 0px;
  text-align: center;
  background: url("aqua/dark-bg.gif");
}

.zpCalendarAqua td.time .hour,
.zpCalendarAqua td.time .minute,
.zpCalendarAqua td.time .ampm {
  padding: 0px 5px 0px 6px;
  font-weight: bold;
  background: url("aqua/normal-bg.gif");
  color: #000;
}

.zpCalendarAqua td.time .hour,
.zpCalendarAqua td.time .minute {
  font-family: monospace;
}

.zpCalendarAqua td.time .ampm {
  text-align: center;
}

.zpCalendarAqua td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

.zpCalendarAqua td.time span.hilite {
  background: url("aqua/hover-bg.gif"); color: #000;
}

.zpCalendarAqua td.time span.active {
  background: url("aqua/active-bg.gif"); color: #fff;
}


.zpCalendarAqua .calendar-time-scroller {
  border-left: 1px solid;
  border-right: 1px solid;
}

.zpCalendarAqua .calendar-time-scroller .up {
  width: 11px;
  background: transparent url("scroller-up.gif") no-repeat 50% 50%;
  height: 0.5em;
/*  font-size: 1px; */
}

.zpCalendarAqua .calendar-time-scroller .down {
  width: 11px;
  background: transparent url("scroller-down.gif") no-repeat 50% 50%;
  height: 0.5em;
/*  font-size: 1px; */
}


.zpCalendarAqua .month-left-border { /* Divider line between two monthes */
  border-left:1px solid #797979 ;
}
