.selrow{
    background-color: #9999ff;
    font-weight: 900;
    font-style: inherit;
    color: #000000;
    font-size: 14px;
    font-family: Arial,Helvetica,sans-serif;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #0000cc;
    border-bottom-color: #0000cc;
    border-left-color: #0000cc;
    border-right-color: #0000cc;
}
.normalrow{
    
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: inherit;
    font-style: inherit;
}

